
   [Parameters]

sigIT_Time_mean = 5.12637  L(0 - 10)
sigIT_Time_sigma = 1.02101 C L(0.1 - 2)
sigIT_Time_pedSlope = 0 C L(0 - 1)
sigIT_Time_f1 = 0.769916 C L(0 - 1)

bkgOoT_minus1bx_Time_mean = -5.12637 C L(-10 - 0)
bkgOoT_minus1bx_Time_sigma = 1.02101 C L(0.1 - 2)
bkgOoT_minus1bx_Time_pedSlope = 0 C L(0 - 1)
bkgOoT_minus1bx_Time_f1 = 0.769916 C L(0 - 1)

bkgOoT_minus2bx_Time_mean = -15.12637 C L(-20 - -10)
bkgOoT_minus2bx_Time_sigma = 1.02101 C L(0.1 - 2)
bkgOoT_minus2bx_Time_pedSlope = 0 C L(0 - 1)
bkgOoT_minus2bx_Time_f1 = 0.769916 C L(0 - 1)

bkgOoT_minus3bx_Time_mean = -25.12637 C L(-30 - -20)
bkgOoT_minus3bx_Time_sigma = 1.02101 C L(0.1 - 2)
bkgOoT_minus3bx_Time_pedSlope = 0 C L(0 - 1)
bkgOoT_minus3bx_Time_f1 = 0.769916 C L(0 - 1)

bkgOoT_minus4bx_Time_mean = -35.12637 C L(-40 - -30)
bkgOoT_minus4bx_Time_sigma = 1.02101 C L(0.1 - 2)
bkgOoT_minus4bx_Time_pedSlope = 0 C L(0 - 1)
bkgOoT_minus4bx_Time_f1 = 0.769916 C L(0 - 1)

N_sigIT =  2505  L(0 - 10000) 
N_bkgOoT_minus1bx =  125    L(-100 - 10000) 
N_bkgOoT_minus2bx =  125    L(-100 - 10000) 
N_bkgOoT_minus3bx =  125    L(-100 - 10000) 
N_bkgOoT_minus4bx =  125    L(-100 - 10000) 

   [Observables]

time         =  5 C L(0 - 10)      // [GeV]
